<a href="https://colab.research.google.com/github/a-forty-two/DFE6/blob/main/05_Python_Pandas_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import datetime

## DataFrames

In [3]:
students = ['Alice', 'Bob', 'Emily', 'Charlie']

In [4]:
scores = [90, 80, 65, 50]

In [5]:
exam_results = pd.DataFrame(
    {
        "name": students,
        "scores": scores
    }
)

In [6]:
exam_results

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

In [7]:
exam_results.index

RangeIndex(start=0, stop=4, step=1)

### Searching (SQL SELECT)

In [8]:
exam_results.loc[0, 'scores']

90

In [10]:
exam_results.loc[:, 'scores']

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

In [12]:
exam_results.loc[2, :]

name      Emily
scores       65
Name: 2, dtype: object

In [14]:
exam_results['scores']

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

In [16]:
exam_results[['name', 'scores']]
# [ [ ] ]-> for DataFrame, this is a COLUMN filter
# [ [ ] ]-> for Series, this is a ROW filter

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

In [9]:
exam_results.iloc[0, 1]

90

In [13]:
exam_results.iloc[:, [0,1]]

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

### Add Columns

We can also easily add columns

In [17]:
gender = ['female', 'male', 'female', 'male']

In [18]:
exam_results['gender'] = gender
# MAKE SURE-> length of new column and dataframe SHOULD be same!

In [19]:
exam_results

      name  scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

### Remove Columns

In [23]:
exam_results.drop('name', axis=1)
# axis=0 -> row-> HORIZONTAL
# axis=1 -> drom a COLUMN-> vertical

   scores  gender
0      90  female
1      80    male
2      65  female
3      50    male

In [ ]:
#[ [ a , b] , [c, d]] -> axis=0 is a,b and c,d. 
# axis=1-> a,c and b,d

# axis=0-> stay in the same list
# axis=1 -> go 1-list above
# axis=2 -> go 2-lists above

### Column names and Row Index

In [25]:
exam_results.columns

Index(['name', 'scores', 'gender'], dtype='object')

In [24]:
exam_results.index

RangeIndex(start=0, stop=4, step=1)

### Renaming Columns

In [26]:
exam_results.rename({'name': 'first_name'}, axis=1)

  first_name  scores  gender
0      Alice      90  female
1        Bob      80    male
2      Emily      65  female
3    Charlie      50    male

### Dealing with missing values

Dataframes have specific commands which help with the handling of missing data

In [32]:
sparse = pd.DataFrame({'a': [1, 2, 3],
                       'b': [np.nan, 4, np.nan],
                       'c': [5, np.nan, np.nan]})

In [35]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [33]:
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [34]:
sparse.fillna(0)
# Replace-> mean/median/mode/custom value

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [31]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

### Group by

In [38]:
exam_results.groupby('gender').mean()
# After groupby a common activity is to 
# AGGREGATE data. 
# mean(), max(), min(), mode(), count(), sum()

        scores
gender
female    77.5
male      65.0

In [41]:
exam_results.groupby('gender').count()
# count also displayed the name column because mean couldn't
# be calculated for the name column earlier- but strings can
# be counted.

        name  scores
gender
female     2       2
male       2       2

In [43]:
exam_results

      name  scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [46]:
pets = ['cat','cat','dog','crocodile']

exam_results.groupby(pets).get_group('cat')

    name  scores  gender
0  Alice      90  female
1    Bob      80    male

In [47]:
exam_results.groupby(pets).get_group('crocodile')

      name  scores gender
3  Charlie      50   male

Thus, suppose we want to group people who obtained marks above or below 70, then we could do:

In [48]:
above_70 = exam_results['scores'] > 70
above_70

0     True
1     True
2    False
3    False
Name: scores, dtype: bool

This will compute the mean scores of students who scored above or below 70

In [49]:
exam_results.groupby(above_70).mean()

        scores
scores
False     57.5
True      85.0

### Merge and Joining

In [51]:
contacts = pd.DataFrame(
    {
        'name' : ['Alice', 'Charlie'],
        'tel'  : ['+44 1234 5678', '+44 3245 5564']
    }
)

In [52]:
exam_results.merge(contacts, left_on='name', right_on='name')   # defaults to inner join

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1  Charlie      50    male  +44 3245 5564

In [53]:
exam_results.merge(contacts, left_on='name', right_on='name', how='outer')

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1      Bob      80    male            NaN
2    Emily      65  female            NaN
3  Charlie      50    male  +44 3245 5564

In [55]:
exam_results.head(2)

    name  scores  gender
0  Alice      90  female
1    Bob      80    male

In [56]:
exam_results.tail(3)

      name  scores  gender
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [57]:
exam_results[exam_results['gender']=='female']

    name  scores  gender
0  Alice      90  female
2  Emily      65  female

In [58]:
exam_results[exam_results['gender']=='female']['scores'] > 85

0     True
2    False
Name: scores, dtype: bool

In [61]:
rule = exam_results[exam_results['gender']=='female']['scores'] > 85